//variables
  //primary colours
$primaryColor: #7cb342;
$primaryColorLight: #aee571;
$primaryColorDark: #4b830d;
  //secendary colours
$secondaryColor: #424242;
$secondaryColorLight: #6d6d6d;
$secondaryColorDark: #1b1b1b;
  //body colour
$bodyColor: #f5f5f6;
  //text colours
$textColorPrimary: #212121;
$textColorSecondary: #f5f5f5;
  //fonts
$mainFont: 'Arimo', sans-serif;

//syntax
*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: $bodyColor;
  color: $textColorPrimary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul
{
  list-style: none;
}

.heading
{
  background-color: $primaryColor;
  padding: 1.25em;
  font-family: $mainFont;
  display: flex;
}

.navigation
{
  background-color: $primaryColorLight;
  padding: 0.75em;
  font-family: $mainFont;
  display: flex;
}

.mainWrap
{
  display: flex;
  flex: 1 1 auto;
}

.mainContent
{
  padding: 0.5em;
  font-family: $mainFont;
  display: flex;
  flex: 1 0 auto;
  p
  {
    font-size: 16px;
  }
}

.foot
{
  background-color: $primaryColorLight;
  padding: 1em;
  font-family: $mainFont;
}

//media queries
